@model WebApplication.Models.Student

<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta name=Title content="">
    <meta name=Keywords content="">
    <meta http-equiv=Content-Type content="text/html; charset=macintosh">
</head>

<body>

    <div>
        <center>
            <p>
                <span style='font-family:Arial;font-size:16.0pt;'><o:p>Bildungsakademie München e.V. </o:p></span>
            </p>
        </center>

        <p class=MsoNormal>
            <span  style='font-family:Arial;color:red'>@ViewBag.studentName  @ViewBag.studentSurName<o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'>
            <span  style='font-family:Arial;color:red'>
                @ViewBag.studentAdres
            </span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'>
            <span  style='font-family:Arial;color:red'>@ViewBag.studentAdresPLZ  @ViewBag.studentAdresCity</span><span style='font-family:Arial'>
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-left:106.2pt;text-align:center;text-indent:-106.2pt'>
            <b >
                <span 
                      style='font-size:16.0pt;line-height:105%;font-family:Arial'><o:p>&nbsp;</o:p></span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-left:21.3pt;text-align:center'>
            <b >
                <span  style='font-size:16.0pt;line-height:105%;font-family:Arial'>Bescheinigung</span>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:21.3pt'>
            <span style='font-size:11.0pt;line-height:105%;font-family:Arial'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal style='margin-left:21.3pt;'>
            <span style='font-size:11.0pt;line-height:105%;font-family:Arial'>
                <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>München,
                den <span style='color:red'>@ViewBag.studentDate</span>
            </span>
        </p>

        <p class=MsoNormal style='margin-left:21.3pt;line-height:200%'>
            <b >
                <u>
                    <span style='font-size:4.0pt;
line-height:200%;font-family:Arial'>
                        <o:p>
                            <span style='text-decoration:none'>&nbsp;</span>
                        </o:p>
                    </span>
                </u>
            </b>
        </p>

        <p class=MsoNormal style='margin-left:21.3pt;text-align:justify;text-justify:
inter-ideograph'>
            <span style='font-family:Arial'>
                Hiermit
                bestatigen wir, dass<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-left:21.3pt;text-align:center'>
            <b >
                <span style='font-size:14.0pt;
line-height:105%;font-family:Arial;color:red'>@ViewBag.mr</span>
            </b><b >
                <span style='font-size:14.0pt;
line-height:105%;font-family:Arial'>
                     <span style='color:red'>@ViewBag.studentName @ViewBag.studentSurName</span><o:p></o:p>
                </span>
            </b>
        </p>

        <p class=MsoNormal align=center style='margin-left:21.3pt;text-align:center'>
            <b >
                <span style='font-size:14.0pt;
line-height:105%;font-family:Arial'>
                    <span >&nbsp;</span>
                </span>
            </b><span lang=DE
                      style='font-family:Arial'>
                (geboren am <span style='color:red'>@ViewBag.studentBirthDate</span>)<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal align=center style='margin-left:21.3pt;text-align:center'>
            <span style='font-family:Arial'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>
                sich für den Vorbereitungskurs für die Westeuropäische Ferngymnasium und Hochschulzugangsprüfung
                angemeldet hat, um eine allgemeine Hochschulreife zu absolvieren. Der dazu
                dienende Unterricht <span>&nbsp;</span>beträgt
                wöchentlich 20 Stunden.<o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>
                Die Anmeldung erfolgte am <span style='color:red'>...........</span> für das
                Schuljahr <span style='color:red'>@ViewBag.studentJahr.</span> <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>
                Voraussichtlich wird der Schüler seine Hochschulreife in <span style='color:red'>September<span style="mso-spacerun:yes">&nbsp; </span>.......</span>erhalten.
                <o:p></o:p>
            </span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>Bildungsakademie München e.V.<o:p></o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'><o:p>&nbsp;</o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>Vorstandvorsitzende<o:p></o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'>Dipl. Ing. Levent Karadag<o:p></o:p></span>
        </p>

        <p class=MsoNormal>
            <span style='font-family:Arial'><o:p>&nbsp;</o:p></span>
        </p>

        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=652
               style='margin-left:14.2pt;border-collapse:collapse'>
            <tr>
                <td width=209 valign=top style='width:208.5pt;border:solid #000001 1.0pt;
  border-right:none:solid #000001 .25pt;background:
  white;padding:2.75pt 2.75pt 2.75pt 2.7pt;height:81.35pt'>
                    <p>
                        <b>
                            <span style='font-size:11.0pt;font-family:Arial;'>Bildungsakademie München e.V.</span>
                        </b><span lang=DE><o:p></o:p></span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Anschrift:</span>
                        </b><span lang=TR style='font-size:
  11.0pt;font-family:Arial'>
                            IG Karlstr.48, 80333
                            München<span>&nbsp; </span>
                        </span><span><o:p></o:p></span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Tel.:</span>
                        </b><span lang=TR style='font-size:11.0pt;
  font-family:Arial'>0179-673 8134</span><span lang=DE><o:p></o:p></span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Hompage:</span>
                        </b><span lang=TR style='font-size:11.0pt;
  font-family:Arial'>
                            www.yek-akademi.com<span>&nbsp;</span>
                        </span><span><o:p></o:p></span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial;'>E-Mail:</span>
                        </b><span style='font-size:11.0pt;
  font-family:Arial'>info@yek-akademi.com</span>
                    </p>
                </td>
                <td width=244 valign=top style='width:243.6pt;border:solid #000001 1.0pt;
  mso-border-alt:solid #000001 .25pt;background:white;padding:2.75pt 2.75pt 2.75pt 2.7pt;
  height:81.35pt'>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Kontoinhaber:</span>
                        </b><span lang=TR
                                  style='font-size:11.0pt;font-family:Arial'>Bildungsakademie München e.V.<o:p></o:p></span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>IBAN:</span>
                        </b><span lang=TR style='font-size:11.0pt;
  font-family:Arial'>
                            DE49 7007
                            0024 0505 8482 00<b><o:p></o:p></b>
                        </span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>BIC:</span>
                        </b><span lang=TR style='font-size:11.0pt;font-family:Arial'>
                            DEUTDEDBMUC<b>
                                <o:p></o:p>
                            </b>
                        </span>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Amtsgericht München<o:p></o:p></span>
                        </b>
                    </p>
                    <p class=MsoFooter>
                        <b>
                            <span lang=TR style='font-size:11.0pt;font-family:Arial'>Registernummer: VR 204805<o:p></o:p></span>
                        </b>
                    </p>
                    <p class=MsoFooter><span><o:p>&nbsp;</o:p></span></p>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>


